*,
*:after,
*:before
{
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body{height: 100vh}

h6,h5,h4,h3,h2,h1
{
	/*font-family: 'Oswald', sans-serif;*/
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase
}

p{font-family: 'Lato', sans-serif}

span{
	font-family: 'Raleway', sans-serif;
	font-weight: 900
}

li{list-style: none}

a
{
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	text-transform: uppercase
}

textarea
{
	width: 100%;
	height: 100px;
	padding: .5rem;
	outline: none;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

:root
{
	--color1: #fff;
	--color2: #484848;
	--color3: #009933;
	--bgcolor1:#546B75;
	--bgcolor2:#45565E;
	--bgcolor3:#334147;
	--bgcolor4:#2B363B;
}
