@charset "UTF-8";

@font-face {
  font-family: "untitled-font-22";
  src:url("fonts/untitled-font-22.eot");
  src:url("fonts/untitled-font-22.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-22.woff") format("woff"),
    url("fonts/untitled-font-22.ttf") format("truetype"),
    url("fonts/untitled-font-22.svg#untitled-font-22") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-22" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-22" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nav:before {
  content: "\61";
}
.icon-close:before {
  content: "\62";
}
.icon-wp:before {
  content: "\63";
}
.icon-home:before {
  content: "\64";
}
.icon-telefono:before {
  content: "\65";
}
