@media screen and (max-width: 480px){
	.container_nosotros .container_nosotros_items{
		width: 80%;
	}

	.container_nosotros .container_nosotros_items .container_nosotros_item{
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}

	p{
		font-size: 16px;

	}
}

@media screen and (max-width: 768px){
	.container_nosotros{
		text-align: center;
	}



	.container_nosotros .container_nosotros_items{
		width: 90%;
	}

	.container_nosotros .container_nosotros_items .container_nosotros_item{
		width: calc(45% - 1rem);
		margin-right: 0;
		margin-left: 0;
	}
}

@media screen and (min-width: 480px)
{

	.container_banner__icon span{font-size: 2.5rem}
	.container_banner__imagotipo{width: 170px}
	.container_copy{max-width: 450px}
	.container_copy h1
	{
	font-size: 2.8rem;
	line-height: 2.8rem
	}
	.container_copy h2
	{
	font-size: 2.8rem;
	line-height: 2.8rem
	}
	.container_copy p
	{
	font-size: 1rem;
	line-height: 1.3rem;
	margin-top: .8rem
	}
	/*--------------------*/
	/*--- SERVICIOS ---*/
	.servicios_images{max-width: 450px}
	.servicios_images__items p{font-size: 1rem;line-height: 1.3rem}

	/*------------------*/
	/*--- CONTACTO ---*/

	.form_imagotipo h2{
		font-size: 2.8rem;
    	line-height: 2.8rem
	}
}

@media screen and (min-width: 768px)
{
	.container_banner
	{
		background-image: url(../image/bg-banner.svg);
		background-position: center bottom;
		background-size: contain;
		background-repeat: no-repeat;
		justify-content: flex-start
	}
	.container_copy
	{
		padding-left: 40px;
		max-width: 380px
	}
	.container_copy h1
	{
		text-align: left;
		font-size: 3rem
	}

	.container_copy a{margin-left: initial}
	.container_banner__svg{display: none}
	/*--------------------*/
	/*--- NOSOTROS ---*/
	.nosotros_copy{margin-bottom: 0; padding-left: 0;}
	.container_nosotros__svg{height: 300px}
	@keyframes nosotros{
		0%, 25% {background-image: url(../image/bg-nosotros6.svg)}
		26%, 50% {background-image: url(../image/bg-nosotros7.svg)}
		51%, 75% {background-image: url(../image/bg-nosotros8.svg)}
		76%, 100% {background-image: url(../image/bg-nosotros9.svg)}
	}
	/*--------------------*/
	/*--- SERVICIOS ---*/
	.container_servicios__svg
	{
		animation: none;
		height: auto;
		display: flex;
		margin-top: 0;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
		position: relative
	}
	.servicios_copy
	{
		margin-bottom: 60px;
		max-width: 500px;
		padding-left: 0
	}
	.servicios_copy h2{text-align: center}
	.servicios_copy p{text-align: center}
	.servicios_images
	{
		max-width: initial;
		width: 90%;
		justify-content: space-evenly
	}
	.servicios_images__items
	{
		width: calc(30% - 1rem);
		margin: .5rem
	}
	.instalaciones_images__items{width: calc(50% - 1rem)}
	.items__servicios img
	{
		width:150px;
		margin-left: auto;
		margin-right: auto
	}
	.servicios_images__items .info_instalaciones{
		max-width: 250px;
		margin-left: auto;
		margin-right: auto;
	}
	.container_servicios__svg img{display: block}
	.container_servicios__svg .servicios-item
	{
		width: 98px;
		position: relative;
		animation: boxitem 10s linear infinite
	}
	@keyframes boxitem
	{
		0%{right:-110px}
		90%,100%{right: calc(100% - 500px)}
	}
	.container_servicios__svg .servicios-box{width: 400px}

	/*--------------------*/
	/*--- GALERIA ---*/

	.galeria__item {
	  width: calc(50% - 1rem);
	  margin-bottom: 0;
	  margin: .5rem;
	  overflow: hidden
	}

	.galeria__item img{
		transition: transform .5s
	}

	.galeria__item:hover img{
		transform: scale(1.1);
	}


	/*--------------------*/
	/*--- CLIENTES ---*/
	.container_clientes__svg {height: 300px}


	.clientes_copy
	{
		margin-bottom: 60px;
		max-width: 500px;
		padding-left: 0
	}
	.clientes_copy h2{text-align: center}
	.clientes_copy p{text-align: center}
	.clientes_images{
		margin-top: 20px;
		margin-bottom: 80px
	}
	.clientes_images{justify-content: center}
	.clientes_images__items
	{
		width: calc(20% - 1rem);
		margin-bottom: 2rem;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	}
	/*--------------------*/
	/*--- CONTACTO ---*/
	.container_contacto__form{max-width: 500px}
	.form_imagotipo{margin-bottom: 50px}
	input
	{
	border: 1px solid #fff;
	max-width: 400px
	}
	textarea
	{
	max-width: 400px;
	margin-bottom: 30px;
	border-radius: 0
	}
	.form_imagotipo h2{
		font-size: 3rem
	}
}

@media screen and (min-width:1024px)
{
	.container_banner__icon{display: none}
	.nav-movil{display: none}
	.nav-desktop{display: flex !important}
	.nav
	{
		background-color: transparent;
		position: relative;
		height: auto;
		justify-content: flex-end
	}
	.nav ul{display: flex}
	.nav ul li{margin-bottom: 0}
	.nav a
	{
		color: var(--color2);
		font-size: .8rem;
		border-bottom: 2px solid transparent;
		transition: all .5s
	}
	.nav a:hover{border-bottom-color: #fff}
	.container_banner__imagotipo img{width:80%}
	.navigation_contenedor{
		margin-top: 40px;
    	padding: 0 40px
	}

	/*--------------------*/
	/*--- BANNER ---*/

	.banner_copy
	{
		margin-top: 100px;
		max-width: 1250px !important;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0
	}
	.banner_copy h1{
		max-width: 550px
	}
	.banner_copy p{
		max-width: 500px;
		text-align: left;
	}

	.container_copy h1
	{
		font-size: 3.3rem;
		line-height: 3.5rem
	}
	.container_copy h2
	{
		font-size: 3.3rem;
		line-height: 3.5rem
	}
	.banner_copy a
	{
		font-size: 1rem;
		padding: .7rem 1.6rem;
		transition: all .5s
	}
	.banner_copy a:hover
	{
		background-color: var(--color1);
		color: var(--color3)
	}

	/*--------------------*/
	/*--- NOSOTROS ---*/

	.container_nosotros
	{
		padding-top: 0;
		flex-direction: column;
		justify-content: space-between
	}
	.nosotros_copy
	{
		margin-top: 50px;
		margin-bottom: 100px;
		max-width: 500px;
		padding-left: 0
	}
	.nosotros_copy h2{text-align: center}
	.nosotros_copy p{text-align: center}

	/*--------------------*/
	/*--- SERVICIOS ---*/

	.servicios_copy
	{
		margin-top: 100px;
		margin-bottom: 100px
	}
	.servicios_images{margin-bottom: 100px}


	/*--------------------*/
	/*--- GALERIA ---*/

	.galeria__item {width: calc(33.33% - 1rem)}

	.modal__img {width: 60%}

	.instalaciones_images__items{width: calc(25% - 1rem)}

	.servicios_images__items .info_instalaciones{max-width: 200px}

	/*-------------------*/
	/*--- CLIENTES ---*/

	.clientes_copy{margin-top: 50px}

	.clientes_images {margin-bottom: 50px}

	/*-------------------*/
	/*--- CONTACTO ---*/

	.form_imagotipo{margin-top: 50px}
	form a {
		padding: .8rem 2.5rem;
		transition: color .5s, background-color .5s
	}
	form a:hover
	{
		background-color: var(--color3);
		color: var(--color1)
	}
	.container_contacto__form {margin-bottom: 100px}

	.form_imagotipo h2{
		font-size: 3.5rem;
		line-height: 3.5rem
	}

	.mapa_ubicaciones__contenedor{width: 50%}

	.ubicaciones_contenedor h4{font-size: 3.5rem;line-height: 3.5rem}

	.ubicaciones_contenedor li{font-size: 1rem}

	iframe
	{
		width: 50%;
		height: auto;
		margin-top: 0
	}

	.footer_contenedor{
		display: flex;
		justify-content: space-between;
	}


}

@media screen and (min-width:1250px)
{
	/*--------------------*/
	/*--- BANNER ---*/
	.container_banner {background-size: cover}
	.container_copy{max-width: 80%}

	.container_copy a
	{
		font-size: 1rem;
		padding: .7rem 1.8rem
	}
	/*--------------------*/
	/*--- SERVICIOS ---*/
	.servicios_images__items p
	{
		max-width: 250px;
		margin-left: auto;
		margin-right: auto
	}
	/*--------------------*/
	/*--- GALERIA ---*/

	.galeria__item {width: calc(25% - 1rem)}

	/*--------------------*/
	/*--- CONTACTO ---*/

	.form_imagotipo h2{
		font-size: 3.5rem;
    	line-height: 3.5rem
	}


}
