p{
	line-height: 150% !important;
}

.container
{
	width: 100%;
	overflow: hidden;
	position: relative
}
.container_banner
{
	/*background-color:#CFF5FF;*/
	background-color: #66e3f3;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center
}
.container_banner__icon{position: relative}
.container_banner__icon span
{
	color: var(--color2);
	cursor: pointer;
	font-size: 2rem
}
.container_banner__imagotipo
{
	position: relative;
	width: 150px
}
.container_banner__imagotipo img
{
	width: 60%;
	margin-right: auto;
	display: block;
	transition: width .5s
}
.navigation_contenedor
{
	width: 100%;
	padding: .5rem;
	position: absolute;
	margin-top: .5rem;
	z-index: 999;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background-color .5s
}
.sticky
{
    position: fixed !important;
    margin-top: 0 !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    z-index: 999;
    background-color: var(--color1);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,.4);
}

.sticky img{width: 50% !important}

.sitcky a{font-size: .7rem !important}

.nav-desktop{display: none !important}
.nav
{
	width: 100%;
	height: 100%;
	/*background-color: var(--color2);*/
	background-color: #fff;
	position: fixed;
	top: -100%;
	left: 0;
	z-index: 9;
	display: flex;
	align-items: center;
	justify-content: center
}
.nav ul li
{
	margin-bottom: .5rem;
	text-align: center
}
.nav a
{
	color: var(--color2);
	font-size: 1.5rem;
	display: inline-block;
	padding: .6rem 1.5rem;
	text-transform: uppercase;
	transition: font-size .5s;
}
.container_banner__svg
{
	width: 100%;
	position: absolute;
	bottom: 0
}
.container_banner__svg img
{
	width: 100%;
	display: block
}
.container_copy
{
	position: relative;
	width: 90%
}
.container_copy h1
{
	color: #fff;
	font-size: 1.8rem;
	line-height: 2rem;
	text-align: center;
	font-weight: 900
}

.container_copy h2
{
	color: #fff;
	font-size: 1.8rem;
	line-height: 2rem;
	text-align: center;
	font-weight: 900
}

.banner_copy h1
{
	color: #fff;
	text-shadow: 0 0 15px rgba(0,0,0,.2)
}

.container_copy p
{
	color: #3a3838;
	font-size: .9rem;
	line-height: 1.1rem;
	text-align: center;
	margin-top: .5rem
}

.banner_copy p{    text-shadow: 0 0 10px rgba(0,0,0,.8);color: #fff}

.container_copy p span{color: var(--color3)}

.container_copy a
{
	color: var(--color1);
	display: table;
	font-size: .9rem;
	padding: .6rem 1.5rem;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	border-radius: 3px;
	background-color: var(--color3);
	border-radius: 50px
}

/*-------------------------*/
/*--- CONTAINER NOSOTROS ---*/

.container_nosotros{
	background-image:
	linear-gradient( var(--bgcolor1) 92%, var(--bgcolor2) 30px);
	padding-top: 3rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.container_nosotros .container_nosotros_items {
    max-width: initial;
    width: 70%;
    margin-bottom: 3rem;
}

.container_nosotros .container_nosotros_items .container_nosotros_item {
    width: calc(47% - 1rem);
    display: inline-block;
    text-align: center;
    margin: 1rem;
    color: #fff;
    line-height: 150%;
    vertical-align: top;
    margin-top: 0;
}

.container_nosotros .container_nosotros_items .container_nosotros_item span{
	color: var(--color1r);
    padding-top: 1rem;
    margin-top: 1rem;
    display: table;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    position: relative;
}

.container_nosotros .container_nosotros_items .container_nosotros_item span:after{
	content: "";
    display: block;
    width: 30px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color3);
}


.nosotros_copy{margin-bottom: 40px}

.nosotros_copy span{color: var(--color3)}

.nosotros_copy p{color: #fff}

.container_nosotros__svg
{
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 250px;
	animation: nosotros 5s linear infinite;
}

@keyframes nosotros{
	0%,25%{background-image: url(../image/bg-nosotros2.svg)}
	26%,50%{background-image: url(../image/bg-nosotros3.svg)}
	51%,75%{background-image: url(../image/bg-nosotros4.svg)}
	76%,100%{background-image: url(../image/bg-nosotros5.svg)}
}

/*-------------------------*/
/*--- CONTAINER SERVICIOS ---*/

.container_servicios
{
	background-image:
	linear-gradient( var(--bgcolor2) 97%, var(--bgcolor3) 30px);
	padding-top: 3rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.servicios_copy{margin-bottom: 40px}

.servicios_copy p{color: var(--color1)}

.servicios_copy h2 span{color: var(--color3)}

.servicios_images
{
	width: 50%;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap
}

.servicios_images__items
{
	width:100%;
	margin-bottom: 2rem
}

.servicios_images__items:last-child{margin-bottom: 0}

.items__servicios{width: 100%}

.items__servicios img
{
	width: 100%;
	display: block
}

.servicios_images__items p
{
	color: var(--color1);
	font-size: .9rem;
	text-align: center;
	line-height: .9rem;
	margin-top: .5rem;
	position: relative
}

.servicios_images__items span
{
	color: var(--color3);
	padding-top: 1rem;
	margin-top: 1rem;
	display: table;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	position: relative
}

.servicios_images__items span:after
{
	content: "";
	display: block;
	width:30px;
	height: 2px;
	position: absolute;
	top: 0;
	left: 50%;
	transform:translateX(-50%);
	background-color: var(--color3)
}

.container_servicios__svg
{
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 2rem;
	height: 250px;
	animation: servicios 5s linear infinite;
}

.container_servicios__svg img
{
	display: none;
	width:100%
}

.boxmov{display: none }

@keyframes servicios{
	0%,33%{background-image: url(../image/bg-servicios2.svg)}
	34%,66%{background-image: url(../image/bg-servicios3.svg)}
	67%,100%{background-image: url(../image/bg-servicios4.svg)}
}

/*-------------------------*/
/*--- CONTAINER GALERIA ---*/

.container_galeria{
	background-image: none;
	background-color: var(--bgcolor2);
	padding-bottom: 4rem
}

.galeria_images{
	width: 80%;
	max-width: 1250px
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galeria__item {
  width: 100%;
  cursor: pointer;
  margin-bottom: 1rem
}

.galeria__item:last-child{margin-bottom: 0}

.galeria__item img{
	width: 100%;
	display: block
}

.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center
}

.modal__img {
  width: 80%;
  max-width: 1250px;
}

.modal__boton {
  width: 40px;
  height: 40px;
  font-size: 1rem;
  background: #fff;
  color: var(--color2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px
}




/*-------------------------*/
/*--- CONTAINER CLIENTES ---*/

.container_clientes
{
	/*background-image: linear-gradient( var(--bgcolor3) 92%, var(--bgcolor4) 30px);*/
	background-image: linear-gradient( #66e3f3,70%,#ceeff3);
	padding-top: 3rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.clientes_copy{margin-bottom: 20px}
.clientes_copy h2{color: #606466}
.clientes_copy p {
    color: #606466;
}
.clientes_copy h2 span{color: var(--color3)}
.clientes_images
{
	width: 90%;
	max-width: 1250px;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap
}
.clientes_images__items
{
	width: calc(50% - 1rem);
	margin: .5rem
}
.clientes_images__items img
{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: block
}
.container_clientes__image
{
	width: 100%;
	position: relative;
	animation: entradamovil 10s linear infinite !important
}
@keyframes entradamovil{
	0%{left: -100%}
	30%,70%{left: 0}
	100%{left: 100%}
}
.container_clientes__svg
{
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 250px;
	animation: clientes 5s linear infinite
}
@keyframes clientes{
	0%,33%{background-image: url(../image/bg-clientes2.svg)}
	34%,66%{background-image: url(../image/bg-clientes3.svg)}
	67%,100%{background-image: url(../image/bg-clientes4.svg)}
}

/*-------------------------*/
/*--- CONTAINER CONTACTO ---*/

.container_contacto
{
	background-color: var(--bgcolor4);
	padding-top: 3rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.container_contacto__form
{
	width: 80%;
    max-width: 1250px;
	margin-bottom: 20px
}

.container_contacto__form form
{
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.form_imagotipo{margin-bottom: 40px}

.form_imagotipo h2
{
	color: var(--color1);
	font-weight: 900;
	text-align: center;
	font-size: 1.8rem;
	line-height: 2.2rem
}

.form_imagotipo h2 span{color: var(--color3)}

input
{
	background-color: #fff;
	border: none;
	outline: none;
	margin-bottom: 20px;
	text-align: center;
	padding: .7rem;
	width: 100%
}

form a
{
	color: var(--color3);
	display: table;
	padding: .8rem 1.5rem;
	background-color: var(--color1);
	box-shadow: 0 10px 10px 0 rgba(0,0,0,.3);
	margin-top: 1rem;
	font-size: .9rem;
	border-radius: 50px
}

form textarea
{

}

.container_contacto__svg
{
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../image/bg-contacto2.svg);
	height: 250px
}

.mapa_ubicanos
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: var(--bgcolor1)
}

.mapa_ubicaciones__contenedor
{
	width: 100%;
	padding-top: 3rem;
	padding-bottom: 3rem
}

.ubicaciones_contenedor
{
	width: 80%;
	margin-left: auto;
	margin-right: auto
}

.ubicaciones_contenedor h4
{
color: var(--color3);
font-weight: 900;
text-align: center;
font-size: 1.8rem;
line-height: 2.2rem;
}

.ubicaciones_contenedor ul{margin-top: 2rem}

.ubicaciones_contenedor li
{
	color: #fff;
	margin-bottom: 1.5rem;
	font-family: 'Lato', sans-serif;
	font-size: .9rem;
	line-height: 1.4rem;
	display: flex;
	align-items: center
}

.ubicaciones_contenedor span
{
	font-size: 1.5rem;
	margin-right: .5rem;
	color: var(--bgcolor4)
}



iframe
{
	width: 100%;
	height: 350px;
	margin-top: 1.5rem
}

/*----------------*/
/*--- FOOTER -----*/

.footer{
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: var(--bgcolor4)
}

.footer_contenedor{
	width: 90%;
	margin-left: auto;
	margin-right: auto
}

.footer_contenedor p{
	color: var(--color1);
	font-size: .9rem;
	text-align: center
}

.footer_contenedor a
{
	color: var(--color3);
	font-size: .9rem;
	text-transform:  inherit;
	margin-left: .5rem;
}

.footer_contenedor div
{
	display: flex;
	justify-content: center;
	align-items: center;
}


.loader {
    height: 4px;
    width: 100% !important;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    margin-bottom: 10px;
    margin-top: 30px;
}
.loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #009933;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

.input-error{
    border: inset 3px #c3172e;
}